<div class="hatch_form">
  <%= form_for(@flock) do |f| %>
    <% if @flock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@flock.errors.count, "error") %> prohibited this flock from being saved:</h2>

        <ul>
        <% @flock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    
      <form class="Tweeter">
        <div class="form_div">
          <h3> Enter your tweeter's info! </h3>
          Twitter Handle: <input type="text" class="input" name="tweeters[][handle]"> <br />
          E-mail Address: <input type="text" class="input" name="tweeters[][email]"> <br />
          Name: <input type="text" class="input" name="tweeters[][name]"> <br />

        </div>    
        
        <input type="button" name="add" class="new_tweeter" value="Add a Tweeter" />

        <div class="actions">
          <%= f.submit "Create Flock", class: "flock_create" %>
        </div>

      </form>
    
    
  <% end %>
</div>