<%= form_for(@flock) do |f| %>
  <% if @flock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flock.errors.count, "error") %> prohibited this flock from being saved:</h2>

      <ul>
      <% @flock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
