#landing
	%h1 MOTHER FLOCKER
	%h2 A Twitter Game
	=image_tag "MotherFlocker.gif", :class => "flock"
#instructions
	%h2 HOW TO PLAY
	#boxwrapper
		.boxes
			%h3 Pick Your Flock:
			%p Your flock can have up to *nine* tweeters. You will need the twitter handles for each of the tweeters in your flock.
		.boxes
			%h3 Hatch Your Flock:
			%p Once you have picked your flock, click the link below to get set up and Hatch your flock!
			=link_to (image_tag "hatch.png", :class => "hatch"), new_flock_path
		.boxes
			%h3 Get Flocking!
			%p Your newly hatched flock will go head to head in a battle of social media prowess. The Tweeter with the most points is the Mother Flocker of the week! 
	#footer		
		%h6 Web App Design by Lydia Guarino and Youssif Abdulhamid 2013
