<h1>Listing flocks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flocks.each do |flock| %>
  <tr>
    <td><%= link_to 'Show', flock %></td>
    <td><%= link_to 'Edit', edit_flock_path(flock) %></td>
    <td><%= link_to 'Destroy', flock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flock', new_flock_path %>
