<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Eater|Londrina+Sketch|Sniglet:800|Lobster+Two|Rock+Salt|Coming+Soon' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="application.js"></script>

  <title>MotherFlocker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
